     
    body {
     background-color:#fff;
     font-family:Arial, Helvetica, sans-serif;
    }

    nav ul {
     background: hsl(147, 26%, 65%);
     padding: 0 20px;
     list-style: none;
     position: relative;
     display: inline-table;
     width: 100%;
    }

    nav ul li{
     float:left;
    }

    nav ul li a{
     display: block;
     padding: 25px;
     color: #fff;
     text-decoration: none;
    }

    nav ul ul li a:hover{
     background-color: #666;
    }



